<a href="https://colab.research.google.com/github/kulivixix/Edu/blob/main/%D0%97%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B5_1_%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1

Создайте список (list) с элементами от 1 до 10 включительно двумя разными способами:
* при помощи list comprehensions
* при помощи цикла for

In [ ]:
# Способ 1: list comprehension
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Способ 2: при помощи цикла for
a = []
for i in range(1,11):
  a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Способ 3: встроенная функция range() и функция list()
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Задание 2

Создайте список (list) с **четными** элементами из промежутка от 1 до 10 включительно двумя разными способами:
* при помощи list comprehensions
* при помощи цикла for

In [ ]:
#Способ 1: при помощи list comprehensions
[i for i in range(1,11) if i % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
#Способ 2: при помощи цикла for
even_list = []
for i in range(1,11):
  if i % 2 == 0:
    even_list.append(i)

print(even_list)

[2, 4, 6, 8, 10]

## Задание 3
присвойте переменной **x** следующее значение:
$$
x=100^{3^{2}}-\frac{10^{3}}{5^{2}}
$$
Выведите, чему теперь равна переменная **x**

In [90]:
# В colab вычисление не получается с большей точностью
import numpy as np

# Попытка реализовать с помощью функции
x1 = pow(100,pow(3,2)) - pow(10,3) / pow(5,2)
print(f'{x1:.1f}')

# Попытка реализовать с помощью стандартных операторов
x2 = (100 ** 3 ** 2) - (10**3 / 5**2)
print(f'{x2:.1f}')

# Попытка преобразования в numpy float64
x3 = np.float64(x2)
print(f'{x3:.1f}')

1000000000000000000.0
1000000000000000000.0
1000000000000000000.0

## Задание 4

Найдите, истинно ли, что 3 в 15 степени больше 3000 при условии, что 3 в 7й степени меньше 7 в 5й.

In [ ]:
#Ваше решение тут

3**15 > 3000 and 3**7 < 7**5

True

## Задание 5
Мы принимаем целое число на ввод с клавиатуры (код предоставлен), вывести "цена выше рынка", если число выше 1200, "цена ниже рыночной", если число меньше 800 и "все ок" в остальных случаях.

In [ ]:
price = int(input('Введите цену товара: '))

if price > 1200:
  print('цена выше рынка')
elif price < 800:
  print('цена ниже рыночной')
else:
  print('все ок')

Введите цену товара: 900
все ок

## Задание 6

Даны два словаря: dictionary_1 = {'price_1': 300, 'price_2': 400} и dictionary_2 = {'price_1': 500, 'price_3': 600}. Объедините их в один при помощи встроенных функций языка Python (методов объекта dict).

In [ ]:
#Ваше решение тут
dictionary_0 = {}
dictionary_1 = {'price_1': 300, 'price_2': 400}
dictionary_2 = {'price_1': 500, 'price_3': 600}

dictionary_0.update(dictionary_1)
dictionary_0.update(dictionary_2)
dictionary_0

{'price_1': 500, 'price_2': 400, 'price_3': 600}

## Задание 7
Сравните время, затраченное на вычисление частного списков list со значениями от 1 до 10^6 и время, затраченное на вычисление частного массивов типа numpy arrays со значениями от 1 до 10^6 (см. пункт " Numpy array vs Python list" в этом ноутбуке)

*Подсказка! для генерации list используйте функцию range(), для генерации numpy array - np.arange()*

In [ ]:
#Ваше решение тут
# Импорт библиотек numpy и time
import numpy as np
import time 
   
# Задание переменной для хранения размерности массивов
size = 10**6
   
# создадим списки типа list от 1 до size
list1 = range(1,size)
list2 = range(1,size) 
   
# создадим массивы типа Numpy array от 1 до size
array1 = np.arange(1, size)   
array2 = np.arange(1, size) 

print("\n Частное массивов :")

# Включим счетчик времени перед делением
initialTime = time.time() 
  
# разделим элементы списков типа list
resultantList = [(a / b) for a, b in zip(list1, list2)] 
   
# посчитаем затраченное время
print("Время затраченное на частное списков типа list:",  
      (time.time() - initialTime), 
      "секунд") 
   
# Включим счетчик времени перед делением
initialTime = time.time() 
  
# разделим элементы массивов типа Numpy array
resultantArray = array1 / array2 
   
# посчитаем затраченное время
print("Время затраченное на частное массивов типа ndarray:", 
      (time.time() - initialTime), 
      "секунд")

 Частное массивов :
Время затраченное на частное списков типа list: 0.14651274681091309 секунд
Время затраченное на частное массивов типа ndarray: 0.00559687614440918 секунд

## Задание 8

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.
Подсказка: переменную типа int можно привести к типу str:
```
x = 5
y = str(x)
```

In [ ]:
[x for x in range (0,501) if ((x % 7 == 0) and ('8' in str(x))) == True]

[28, 84, 98, 168, 182, 189, 238, 280, 287, 308, 378, 385, 448, 483]

## Задание 9
Дан массив строк mas. Одной строкой создайте словарь, в котором по ключу строки будет записана пара (кортеж длины 2) (индекс строки в массиве mas, длина строки)

In [86]:
mas = ['abc', 'def', 'hello', 'world']
dic = { elmnt: (index, len(elmnt)) for index, elmnt in enumerate(mas) }
print(dic)

{'abc': (0, 3), 'def': (1, 3), 'hello': (2, 5), 'world': (3, 5)}

## Задание 10
Реализовать функцию, которая сохраняет в 2 глобальные переменные:
сумму всех позиционных аргументов - релизовать через lambda;
название всех именованных аргументов в виде списка.

In [ ]:
summ = 0
names = []
#Ваше решение тут

another_func(1, 2, 3, a=4, b=5)

print(f'Cумма {summ}, названия {names}')

Сумма 6 , названия ['a', 'b']

In [98]:
summ = 0
names = []

def another_func(*args, **kwargs):
    global summ
    global names
    func_args_sum = lambda x: sum(x)
    summ = func_args_sum(args)
    func_kwargs_list = lambda x: list(kwargs)
    names = func_kwargs_list(kwargs)
    return summ, names


another_func(1, 2, 3, a=4, b=5)

print(f'Cумма {summ}, названия {names}')

Cумма 6, названия ['a', 'b']